@import "tailwindcss";
@import "lenis/dist/lenis.css";

@font-face {
    font-family: "Hack";
    src: url("/fonts/hack/Hack-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hack";
    src: url("/fonts/hack/Hack-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hack";
    src: url("/fonts/hack/Hack-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Hack";
    src: url("/fonts/hack/Hack-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "WriterReg";
    src: url("/fonts/writer/Writer-Regular.woff2") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ParaDis";
    src: url("/fonts/parabole/Parabole-DisplayRegular.woff2") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi/Satoshi-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi/Satoshi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Echelon";
    src: url("/fonts/Echelon/Echelon-Rg.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Echelon";
    src: url("/fonts/Echelon/Echelon-It.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "HigherJump";
    src: url("/fonts/higher-jump/Higher-Jump.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-accent-secondary: var(--accent-secondary);
    --font-sans: var(--font-satoshi);
    --font-mono: var(--font-satoshi);
    --font-hack: var(--font-hack);
    --font-paraText: var(--font-para-text);
    --font-paraDis: var(--font-para-dis);
    --font-writerReg: var(--font-writer-reg);
    --font-echelon: var(--font-echelon);
    --font-satoshi: var(--font-satoshi);
    --font-tinos: var(--font-tinos);
    --font-higherJump: var(--font-higher-jump);
}

:root {
    --background: #d9d9d9;
    --foreground: #000000;
    --accent: #57595b;
    --font-hack: "Hack", monospace;
    --font-tinos: "Tinos", sans-serif;
    --font-writer-reg: "WriterReg", variable;
    --font-para-dis: "ParaDis", variable;
    --font-echelon: "Echelon", sans-serif;
    --font-satoshi: "Satoshi", sans-serif;
    --font-higher-jump: "Higher Jump", sans-serif;
    scrollbar-width: none;
    /*cursor: none;*/
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-satoshi);
}

::selection {
    color: #d9dcdc;
    background: #57595b;
}

*,
*::before,
*::after {
    /*cursor: none !important;*/
}

.btn-primary {
    @apply hover:text-accent transition-colors duration-300;
}
