@import "tailwindcss";

@font-face {
    font-family: "Hack";
    src: url("/fonts/hack/Hack-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hack";
    src: url("/fonts/hack/Hack-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hack";
    src: url("/fonts/hack/Hack-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Hack";
    src: url("/fonts/hack/Hack-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

:root {
    --background: #000000;
    --foreground: #171717;
    --font-hack: "Hack", "Courier New", monospace;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-hack);
    --font-mono: var(--font-hack);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-hack);
}

::selection {
    background: #ffffff;
    color: #000000;
}
